---
const { title, description, heroImage, alt, odd } = Astro.props;
---

<div class="flex w-full max-h-96 items-center my-8">
    <div
        class="flex flex-row m-2 rounded-md w-full space-x-4 justify-center even:flex-row-reverse"
    >
        {
            odd && (
                <img
                    src={heroImage}
                    alt={alt}
                    class="h-96 sm:h-full rounded-lg shadow-2xl"
                />
            )
        }
        <div
            class="flex flex-col justify-center even:text-start odd:text-end transition-transform break-before-right"
        >
            <h1 class="text-xl sm:text-6xl font-extrabold">
                {title}
            </h1>
            {
                description.map((item: unknown) => (
                    <p class="sm:text-2xl visible">{item}</p>
                ))
            }
        </div>
        {
            !odd && (
                <img
                    src={heroImage}
                    alt={alt}
                    class="h-96 sm:h-full rounded-lg shadow-2xl"
                />
            )
        }
    </div>
</div>
